@import './variables.scss';

.HeroSection {
    margin-top: 50px;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: end;
    justify-content: center;
    padding-inline: $defaultPaddingInline;

    .banner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 56px 0px;
        position: relative;
        overflow: hidden;

        .banner-item-left {
            height: 100%;
            width: 500px;

            h1 {
                font-size: 56px;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                color: $colorGray;
                line-height: 24px;

                svg {
                    fill: $colorGreen;
                    margin-right: 10px;
                }
            }

            .btns {
                margin-top: 48px;
                display: flex;

                button {
                    height: 48px;
                    padding-inline: 25px;
                    padding-block: 25px;
                    svg {
                        font-size: 25px;
                    }
                }

                .leftBtn {
                    background-color: $colorGreen;
                    color: white;
                    margin-right: 16px;
                }

                .rightBtn {
                    border: 0.5px solid rgba(128, 128, 128, 0.491);
                }
            }

            .bottom-p {
                margin-top: 20px;
                color: $colorGreen;
                
            }
        }

        .banner-item-right {
            height: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: -300px;
            right: 150px;
            transform: rotate(45deg);
            width: 300px;
            height: 200%;
            z-index: -1;
            background: rgba(210, 210, 210, 0.242);
            // border-bottom-right-radius: 50%;
        }
    }
}

@media screen and (max-width: 1250px) {
    .HeroSection {
        padding-inline: 0px;
        .banner {
            .banner-item-left {
                padding-left: 20px;
            }
            .banner-item-right {
                padding-left: 20px;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .HeroSection {
        .banner {
            flex-direction: column;
            // justify-content: spa;
            .banner-item-left {
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .HeroSection {
        .banner {
            padding-top: 100px;
            .banner-item-left {
                width: 100%;
                padding-inline: 20px;
                h1 {
                    font-size: 32px;
                    width: 320px;
                }
                .btns {
                    flex-wrap: wrap;
                    button {
                        &:nth-child(1) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .banner-item-right {
                width: 100%;
            }
        }
    }
}