@import '../variables.scss';

.ReviewCard {
    min-width: 448px;
    height: 307px;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    margin-inline: 15px;

    >.imgName {
        width: 100%;
        display: flex;
        margin-bottom: 30px;

        img {
            width: 70px;
            height: 70px;
            border-radius: 15px;
        }

        >.name {
            // border: 1px solid red;
            margin-left: 20px;
            h1 {
                font-size: 24px;
                margin-bottom: 5px;
            }
            p {
                margin-bottom: 7px;
                color: $colorGreen;
                font-weight: 500;
            }
            svg {
                fill: #ffbf26;
            }
        }
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 525px) {
    .ReviewCard {
        min-width: 360px;
        height: 360px;
        margin-inline: 0px;
        margin-right: 10px;
        .imgName {
            margin-bottom: 10px;
        }
    }
}